.App {
  text-align: center;
}

.centeredTable {
  margin: 20px auto;
  border-collapse: collapse;
  width: 500px;
}

.centeredLgTable {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 1000px;
}

.puzzleBanner {
    font-size: 15px;
    margin-bottom:20px;
}

td {
  border: 1px solid;
}